@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@1,100&display=swap');

div {
    color: white;
}
body {
    background-color: #000;
    color: white;
}
.text {
    color: white;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    font-size: 1.2em;
}
.header {
    color: gold;
    font-size: 1.5em;
    font-family: 'Raleway', sans-serif;
    text-align: center;
}
.mainSection {
    background-color: #fff;
    border-radius: 8px;
}
.mainSection .header {
    color: #000;
    font-size: 1.5em;
    font-family: 'Raleway', sans-serif;
    text-align: center;
}
.mainSection .text {
    color: #000;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    font-size: 1.2em;
}
.smallImage {
    width: 50%;
    height: 50%;
}