@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@1,100&display=swap');

div {
    background-color: #000;
    color: white;
}
body {
    background-color: #000;
    color: white;
}
.text {
    color: white;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    font-size: 1.2em;
}
.header {
    color: gold;
    font-size: 1.5em;
    font-family: 'Raleway', sans-serif;
    text-align: center;
}
.border {
    border: 1px solid white;
}

/* Button */

.btngroup .button {
    background-color: #4CAF50; /* Green */
    border: 1px solid green;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 16px;
    cursor: pointer;
    float: left;
  }
  
  .btngroup .button:not(:last-child) {
    border-right: none; /* Prevent double borders */
  }